In [1]:
import pandas as pd

# Location of dataset
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

# Assign colum names to the dataset
names = ['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'Class']

# Read dataset to pandas dataframe
irisdata = pd.read_csv(url, names=names)

In [2]:
irisdata.head()

   sepal-length  sepal-width  petal-length  petal-width        Class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [3]:
# Assign data from first four columns to X variable
X = irisdata.iloc[:, 0:4]

# Assign data from first fifth columns to y variable
y = irisdata.select_dtypes(include=[object])

In [4]:
y.head()

         Class
0  Iris-setosa
1  Iris-setosa
2  Iris-setosa
3  Iris-setosa
4  Iris-setosa

In [5]:
X.head()

   sepal-length  sepal-width  petal-length  petal-width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [6]:
y.Class.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [7]:
from sklearn import preprocessing  
le = preprocessing.LabelEncoder()

y = y.apply(le.fit_transform)

In [8]:
y

     Class
0        0
1        0
2        0
3        0
4        0
..     ...
145      2
146      2
147      2
148      2
149      2

[150 rows x 1 columns]

In [9]:
from sklearn.model_selection import train_test_split  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

In [10]:
from sklearn.preprocessing import StandardScaler  
scaler = StandardScaler()  
scaler.fit(X_train)

X_train = scaler.transform(X_train)  
X_test = scaler.transform(X_test)

In [11]:
X_train

array([[-0.26545652, -0.62651763,  0.6687232 ,  1.02492266],
       [-0.84674818,  1.64484537, -1.20260098, -1.10424457],
       [-1.07926484, -0.17224503, -1.25763992, -1.2294897 ],
       [ 0.1995768 , -0.85365393,  0.77880109,  0.52394213],
       [-0.49797319,  1.87198167, -1.31267887, -0.97899944],
       [ 1.01338512,  0.50916387,  1.10903477,  1.65114831],
       [ 0.08331847, -0.17224503,  0.77880109,  0.77443239],
       [-0.73048985,  0.96343647, -1.20260098, -1.2294897 ],
       [ 1.47841844, -0.17224503,  1.21911266,  1.15016779],
       [-1.54429817, -1.76219912, -1.31267887, -1.10424457],
       [ 0.31583513, -0.39938133,  0.55864531,  0.27345187],
       [ 0.5483518 ,  0.50916387,  1.27415161,  1.65114831],
       [-1.6605565 , -0.39938133, -1.25763992, -1.2294897 ],
       [ 1.01338512,  0.50916387,  1.10903477,  1.15016779],
       [-0.96300651,  0.96343647, -1.14756203, -0.72850918],
       [ 0.43209346,  0.73630017,  0.94391793,  1.40065805],
       [ 1.01338512, -1.30792652,  1.16407372,  0.77443239],
       [ 2.17596843, -1.08079022,  1.76950213,  1.40065805],
       [-0.96300651,  0.73630017, -1.14756203, -0.97899944],
       [-0.96300651,  1.19057277, -1.25763992, -1.2294897 ],
       [ 1.36216011,  0.28202757,  0.55864531,  0.27345187],
       [-0.96300651, -0.17224503, -1.14756203, -1.2294897 ],
       [ 1.24590178,  0.28202757,  1.10903477,  1.40065805],
       [-1.77681483, -0.17224503, -1.42275676, -1.35473483],
       [-1.42803983,  1.19057277, -1.47779571, -1.2294897 ],
       [-1.07926484,  0.05489127, -1.20260098, -1.35473483],
       [-1.42803983,  0.05489127, -1.20260098, -1.2294897 ],
       [ 0.31583513, -0.17224503,  0.50360636,  0.27345187],
       [ 0.66461013, -0.85365393,  0.88887898,  0.89967752],
       [-0.26545652, -0.39938133, -0.0467831 ,  0.14820674],
       [-0.49797319, -0.17224503,  0.44856741,  0.398697  ],
       [-0.03293986, -0.85365393,  0.77880109,  0.89967752],
       [-0.38171485, -1.30792652,  0.17337268,  0.14820674],
       [-0.03293986, -1.08079022,  0.17337268,  0.02296161],
       [-0.26545652, -1.30792652,  0.11833373, -0.10228352],
       [-1.6605565 ,  0.28202757, -1.31267887, -1.2294897 ],
       [-0.73048985,  2.32625427, -1.20260098, -1.35473483],
       [-0.84674818,  1.64484537, -0.98244519, -0.97899944],
       [ 0.89712679, -0.17224503,  0.39352847,  0.27345187],
       [-1.07926484, -1.53506282, -0.21189994, -0.22752865],
       [-1.42803983,  0.28202757, -1.25763992, -1.2294897 ],
       [ 0.66461013, -0.62651763,  1.05399582,  1.15016779],
       [ 0.08331847,  0.28202757,  0.61368425,  0.77443239],
       [-0.38171485, -1.53506282,  0.00825584, -0.22752865],
       [-0.96300651, -1.76219912, -0.21189994, -0.22752865],
       [-0.49797319,  0.73630017, -1.20260098, -0.97899944],
       [-0.14919819,  3.00766316, -1.20260098, -0.97899944],
       [-0.84674818,  0.96343647, -1.25763992, -1.10424457],
       [-0.03293986, -0.62651763,  0.77880109,  1.52590318],
       [-1.07926484,  0.05489127, -1.20260098, -1.35473483],
       [ 0.1995768 , -0.39938133,  0.44856741,  0.398697  ],
       [-0.38171485, -1.53506282,  0.06329479, -0.10228352],
       [-0.03293986, -0.85365393,  0.77880109,  0.89967752],
       [-1.19552317, -0.17224503, -1.25763992, -1.10424457],
       [ 2.0597101 , -0.17224503,  1.60438529,  1.15016779],
       [ 1.24590178,  0.05489127,  0.77880109,  1.40065805],
       [ 1.59467678, -0.17224503,  1.16407372,  0.52394213],
       [-0.14919819, -0.62651763,  0.44856741,  0.14820674],
       [-1.3117815 ,  0.28202757, -1.31267887, -1.2294897 ],
       [-1.3117815 ,  0.28202757, -1.14756203, -1.2294897 ],
       [ 0.66461013,  0.28202757,  0.88887898,  1.40065805],
       [ 0.1995768 ,  0.73630017,  0.44856741,  0.52394213],
       [ 0.66461013, -0.39938133,  0.33848952,  0.14820674],
       [ 1.12964345, -0.17224503,  0.99895688,  1.15016779],
       [ 2.40848509,  1.64484537,  1.49430739,  1.02492266],
       [ 0.66461013, -0.62651763,  1.05399582,  1.27541292],
       [-0.84674818,  1.64484537, -1.14756203, -1.2294897 ],
       [-1.19552317,  0.05489127, -1.14756203, -1.2294897 ],
       [ 0.5483518 , -0.39938133,  1.05399582,  0.77443239],
       [-0.26545652, -0.85365393,  0.28345057,  0.14820674],
       [-0.96300651,  0.96343647, -1.31267887, -1.10424457],
       [ 2.17596843, -0.17224503,  1.32919056,  1.40065805],
       [-1.19552317,  0.73630017, -1.14756203, -1.2294897 ],
       [-0.38171485,  2.55339057, -1.25763992, -1.2294897 ],
       [ 0.1995768 , -1.98933542,  0.72376214,  0.398697  ],
       [ 0.78086846, -0.17224503,  0.83384004,  1.02492266],
       [ 0.5483518 , -1.30792652,  0.72376214,  0.89967752],
       [-0.03293986, -0.85365393,  0.11833373,  0.02296161],
       [-0.49797319,  1.87198167, -1.09252309, -0.97899944],
       [-1.07926484,  0.05489127, -1.20260098, -1.35473483],
       [-0.03293986,  2.09911797, -1.36771782, -1.2294897 ],
       [-0.38171485,  0.96343647, -1.31267887, -1.2294897 ],
       [ 1.24590178,  0.05489127,  0.94391793,  1.15016779],
       [-0.03293986, -0.85365393,  0.22841163, -0.22752865],
       [-1.19552317,  0.73630017, -0.98244519, -1.2294897 ],
       [ 1.01338512, -0.17224503,  0.72376214,  0.64918726],
       [ 1.12964345, -0.62651763,  0.61368425,  0.27345187],
       [-0.26545652, -0.17224503,  0.22841163,  0.14820674],
       [-0.84674818,  0.73630017, -1.20260098, -1.2294897 ],
       [ 0.78086846, -0.17224503,  1.16407372,  1.27541292],
       [-1.42803983,  0.73630017, -1.25763992, -1.10424457],
       [ 2.17596843, -0.62651763,  1.65942423,  1.02492266],
       [-0.14919819, -1.30792652,  0.72376214,  1.02492266],
       [ 0.5483518 , -0.85365393,  0.6687232 ,  0.77443239],
       [ 0.78086846, -0.62651763,  0.50360636,  0.398697  ],
       [-0.49797319,  0.73630017, -1.09252309, -1.2294897 ],
       [-0.84674818,  0.96343647, -1.25763992, -1.2294897 ],
       [ 0.5483518 , -1.76219912,  0.39352847,  0.14820674],
       [ 0.5483518 ,  0.73630017,  1.05399582,  1.52590318],
       [-0.14919819, -1.08079022, -0.10182205, -0.22752865],
       [ 0.43209346, -0.62651763,  0.61368425,  0.77443239],
       [ 0.1995768 , -1.98933542,  0.17337268, -0.22752865],
       [ 1.01338512, -0.17224503,  0.83384004,  1.40065805],
       [-0.96300651,  0.73630017, -1.20260098, -1.2294897 ],
       [ 0.5483518 ,  0.50916387,  0.55864531,  0.52394213],
       [ 1.82719344, -0.62651763,  1.32919056,  0.89967752],
       [ 0.89712679, -0.39938133,  0.50360636,  0.14820674],
       [-0.96300651,  0.28202757, -1.36771782, -1.2294897 ],
       [ 1.01338512,  0.05489127,  0.55864531,  0.398697  ],
       [-1.07926484, -1.30792652,  0.44856741,  0.64918726],
       [ 0.43209346, -0.39938133,  0.33848952,  0.14820674],
       [ 1.59467678,  1.19057277,  1.32919056,  1.65114831],
       [-1.19552317, -0.17224503, -1.25763992, -1.35473483],
       [ 0.78086846,  0.28202757,  0.77880109,  1.02492266],
       [ 0.43209346, -1.98933542,  0.44856741,  0.398697  ],
       [ 2.17596843,  1.64484537,  1.65942423,  1.27541292],
       [-1.6605565 , -0.17224503, -1.31267887, -1.2294897 ],
       [ 0.66461013,  0.28202757,  0.44856741,  0.398697  ],
       [-0.14919819,  1.64484537, -1.09252309, -1.10424457],
       [ 0.66461013,  0.05489127,  0.99895688,  0.77443239]])

In [12]:
# Multi-Layer Perceptron(MLP)
from sklearn.neural_network import MLPClassifier  
mlp = MLPClassifier(hidden_layer_sizes=(10, 10, 10), max_iter=1000)  
mlp.fit(X_train, y_train.values.ravel())

MLPClassifier(hidden_layer_sizes=(10, 10, 10), max_iter=1000)

In [13]:
y_train.values.ravel()

array([2, 0, 0, 1, 0, 2, 2, 0, 2, 0, 1, 2, 0, 2, 0, 2, 2, 2, 0, 0, 1, 0,
       2, 0, 0, 0, 0, 1, 2, 1, 1, 2, 1, 1, 1, 0, 0, 0, 1, 1, 0, 2, 1, 1,
       1, 0, 0, 0, 2, 0, 1, 1, 2, 0, 2, 2, 2, 1, 0, 0, 2, 1, 1, 2, 2, 2,
       0, 0, 2, 1, 0, 2, 0, 0, 2, 2, 2, 1, 0, 0, 0, 0, 2, 1, 0, 1, 1, 1,
       0, 2, 0, 2, 2, 2, 1, 0, 0, 1, 2, 1, 2, 1, 2, 0, 1, 2, 1, 0, 1, 2,
       1, 2, 0, 2, 1, 2, 0, 1, 0, 2])

In [14]:
predictions = mlp.predict(X_test)  
predictions

array([1, 2, 1, 2, 2, 1, 1, 1, 2, 1, 1, 1, 0, 2, 1, 2, 0, 1, 1, 0, 2, 1,
       1, 0, 0, 2, 1, 1, 0, 1])

In [15]:
from sklearn.metrics import classification_report, confusion_matrix  
print(confusion_matrix(y_test,predictions))  
print(classification_report(y_test,predictions))

[[ 6  0  0]
 [ 0 15  0]
 [ 0  1  8]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00         6
           1       0.94      1.00      0.97        15
           2       1.00      0.89      0.94         9

    accuracy                           0.97        30
   macro avg       0.98      0.96      0.97        30
weighted avg       0.97      0.97      0.97        30